USE [master]
GO
/****** Object:  Database [PROYECTO]    Script Date: 20/03/2023 21:33:18 ******/
CREATE DATABASE [PROYECTO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PROYECTO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PROYECTO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PROYECTO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PROYECTO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PROYECTO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PROYECTO]
GO
/****** Object:  Table [dbo].[COMPETICION]    Script Date: 20/03/2023 21:33:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPETICION](
	[IDCOMPETICION] [int] NOT NULL,
	[NOMBRE] [nvarchar](100) NULL,
	[TIPOCOMPE] [nvarchar](50) NULL,
	[LOGO] [nvarchar](300) NULL,
	[PAIS] [nvarchar](70) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCOMPETICION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMPETICION_DURANTE_TEMPORADA]    Script Date: 20/03/2023 21:33:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPETICION_DURANTE_TEMPORADA](
	[IDCOMPETICION] [int] NOT NULL,
	[IDTEMPORADA] [int] NOT NULL,
	[STARTDATE] [datetime] NULL,
	[ENDDATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCOMPETICION] ASC,
	[IDTEMPORADA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EQUIPO]    Script Date: 20/03/2023 21:33:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EQUIPO](
	[IDEQUIPO] [int] NOT NULL,
	[NOMBRE] [nvarchar](100) NULL,
	[ABREVIATURA] [nvarchar](5) NULL,
	[LOGO] [nvarchar](300) NULL,
	[IDVENUE] [int] NULL,
	[PAIS] [nvarchar](70) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDEQUIPO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EQUIPO_PARTICIPA_COMPETICION]    Script Date: 20/03/2023 21:33:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EQUIPO_PARTICIPA_COMPETICION](
	[IDCOMPETICION] [int] NOT NULL,
	[IDTEMPORADA] [int] NOT NULL,
	[IDEQUIPO] [int] NOT NULL,
	[PARTIDOSJUGADOS] [int] NULL,
	[PARTIDOSJUGADOSLOCAL] [int] NULL,
	[PARTIDOSJUGADOSVISITANTE] [int] NULL,
	[VICTORIAS] [int] NOT NULL,
	[VICTORIASLOCAL] [int] NOT NULL,
	[VICTORIASVISITANTE] [int] NOT NULL,
	[EMPATES] [int] NOT NULL,
	[EMPATESLOCAL] [int] NOT NULL,
	[EMPATESVISITANTE] [int] NOT NULL,
	[DERROTAS] [int] NOT NULL,
	[DERROTASLOCAL] [int] NOT NULL,
	[DERROTASVISITANTE] [int] NOT NULL,
	[GOLESMARCADOS] [int] NOT NULL,
	[GOLESMARCADOSLOCAL] [int] NOT NULL,
	[GOLESMARCADOSVISITANTE] [int] NOT NULL,
	[GOLESENCAJADOS] [int] NOT NULL,
	[GOLESENCAJADOSLOCAL] [int] NOT NULL,
	[GOLESENCAJADOSVISITANTE] [int] NOT NULL,
	[TARJETASAMARILLAS] [int] NOT NULL,
	[TARJETASAMARILLASLOCAL] [int] NOT NULL,
	[TARJETASAMARILLASVISITANTE] [int] NOT NULL,
	[TARJETASROJAS] [int] NOT NULL,
	[TARJETASROJASLOCAL] [int] NOT NULL,
	[TARJETASROJASVISITANTE] [int] NOT NULL,
	[PUNTOS] [int] NOT NULL,
	[GOLESFAVOR0_15] [int] NOT NULL,
	[GOLESFAVOR16_30] [int] NOT NULL,
	[GOLESFAVOR31_45] [int] NOT NULL,
	[GOLESFAVOR46_60] [int] NOT NULL,
	[GOLESFAVOR61_75] [int] NOT NULL,
	[GOLESFAVOR76_90] [int] NOT NULL,
	[GOLESFAVOR91_105] [int] NOT NULL,
	[GOLESFAVOR106_120] [int] NOT NULL,
	[GOLESCONTRA0_15] [int] NOT NULL,
	[GOLESCONTRA16_30] [int] NOT NULL,
	[GOLESCONTRA31_45] [int] NOT NULL,
	[GOLESCONTRA46_60] [int] NOT NULL,
	[GOLESCONTRA61_75] [int] NOT NULL,
	[GOLESCONTRA76_90] [int] NOT NULL,
	[GOLESCONTRA91_105] [int] NOT NULL,
	[GOLESCONTRA106_120] [int] NOT NULL,
	[NOMBRE] [nvarchar](100) NULL,
	[TARJETASAMARILLAS0_15] [int] NOT NULL,
	[TARJETASAMARILLAS16_30] [int] NOT NULL,
	[TARJETASAMARILLAS31_45] [int] NOT NULL,
	[TARJETASAMARILLAS46_60] [int] NOT NULL,
	[TARJETASAMARILLAS61_75] [int] NOT NULL,
	[TARJETASAMARILLAS76_90] [int] NOT NULL,
	[TARJETASAMARILLAS91_105] [int] NOT NULL,
	[TARJETASAMARILLAS106_120] [int] NOT NULL,
	[TARJETASROJAS0_15] [int] NOT NULL,
	[TARJETASROJAS16_30] [int] NOT NULL,
	[TARJETASROJAS31_45] [int] NOT NULL,
	[TARJETASROJAS46_60] [int] NOT NULL,
	[TARJETASROJAS61_75] [int] NOT NULL,
	[TARJETASROJAS76_90] [int] NOT NULL,
	[TARJETASROJAS91_105] [int] NOT NULL,
	[TARJETASROJAS106_120] [int] NOT NULL,
	[POSICION] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCOMPETICION] ASC,
	[IDTEMPORADA] ASC,
	[IDEQUIPO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EVENTO]    Script Date: 20/03/2023 21:33:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVENTO](
	[IDEVENTO] [int] NOT NULL,
	[IDPARTIDO] [int] NULL,
	[ELAPSED] [int] NULL,
	[EXTRA] [int] NULL,
	[IDEQUIPO] [int] NULL,
	[NOMBREJUGADOR] [nvarchar](100) NOT NULL,
	[NOMBREASISTENCIA] [nvarchar](100) NOT NULL,
	[TIPO] [nvarchar](30) NOT NULL,
	[DETALLES] [nvarchar](40) NOT NULL,
	[COMMENTS] [nvarchar](40) NOT NULL,
 CONSTRAINT [PK__EVENTO__74B243658A6FBBFA] PRIMARY KEY CLUSTERED 
(
	[IDEVENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LINEUP]    Script Date: 20/03/2023 21:33:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LINEUP](
	[IDPARTIDO] [int] NOT NULL,
	[IDEQUIPO] [int] NOT NULL,
	[ESQUEMA] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPARTIDO] ASC,
	[IDEQUIPO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LINEUPPLAYER]    Script Date: 20/03/2023 21:33:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LINEUPPLAYER](
	[IDPARTIDO] [int] NOT NULL,
	[IDEQUIPO] [int] NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[NUMERO] [int] NULL,
	[POSICION] [nvarchar](5) NULL,
	[GRID] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPARTIDO] ASC,
	[IDEQUIPO] ASC,
	[NOMBRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PARTIDO]    Script Date: 20/03/2023 21:33:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARTIDO](
	[IDPARTIDO] [int] NOT NULL,
	[IDCOMPETICION] [int] NOT NULL,
	[IDTEMPORADA] [int] NOT NULL,
	[ARBITRO] [nvarchar](70) NULL,
	[TIMEZONE] [nvarchar](20) NULL,
	[STARTDATE] [datetime] NULL,
	[IDVENUE] [int] NULL,
	[IDLOCAL] [int] NOT NULL,
	[IDVISITANTE] [int] NOT NULL,
	[GOLESLOCALHF] [int] NULL,
	[GOLESVISITANTEHF] [int] NULL,
	[GOLESLOCALFT] [int] NULL,
	[GOLESVISITANTEFT] [int] NULL,
	[GOLESLOCALET] [int] NULL,
	[GOLESVISITANTEET] [int] NULL,
	[GOLESLOCALPENALTY] [int] NULL,
	[GOLESVISITANTEPENALTY] [int] NULL,
	[RONDA] [nvarchar](100) NULL,
	[ESTADO] [nvarchar](100) NULL,
	[ESTADOFINAL] [nvarchar](10) NULL,
	[ELAPSED] [int] NULL,
	[NOMBRELOCAL] [nvarchar](100) NULL,
	[NOMBREVISITANTE] [nvarchar](100) NULL,
	[LOGOLOCAL] [nvarchar](300) NULL,
	[LOGOVISITANTE] [nvarchar](300) NULL,
	[PAIS] [nvarchar](50) NOT NULL,
	[PAISIMAGEN] [nvarchar](300) NOT NULL,
	[NOMBRECOMPETICION] [nvarchar](60) NOT NULL,
 CONSTRAINT [PK__PARTIDO__368EE70C2AADAEFE] PRIMARY KEY CLUSTERED 
(
	[IDCOMPETICION] ASC,
	[IDTEMPORADA] ASC,
	[IDLOCAL] ASC,
	[IDVISITANTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [partidounico] UNIQUE NONCLUSTERED 
(
	[IDPARTIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__PARTIDO__E2D0342B7E635246] UNIQUE NONCLUSTERED 
(
	[IDPARTIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STATSPARTIDO]    Script Date: 20/03/2023 21:33:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATSPARTIDO](
	[IDPARTIDO] [int] NOT NULL,
	[TIPO] [nvarchar](50) NOT NULL,
	[IDEQUIPO] [int] NOT NULL,
	[VALOR] [nvarchar](7) NOT NULL,
 CONSTRAINT [PK__STATSPAR__9E01CE3EC9A532CF] PRIMARY KEY CLUSTERED 
(
	[IDPARTIDO] ASC,
	[TIPO] ASC,
	[IDEQUIPO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEMPORADA]    Script Date: 20/03/2023 21:33:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEMPORADA](
	[IDTEMPORADA] [int] NOT NULL,
	[STARTDATE] [datetime] NULL,
	[ENDDATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDTEMPORADA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENUE]    Script Date: 20/03/2023 21:33:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENUE](
	[IDVENUE] [int] NOT NULL,
	[NOMBRE] [nvarchar](100) NOT NULL,
	[CIUDAD] [nvarchar](100) NOT NULL,
	[CAPACIDAD] [int] NULL,
	[PAIS] [nvarchar](70) NOT NULL,
 CONSTRAINT [PK__VENUE__2849F372D8F455C6] PRIMARY KEY CLUSTERED 
(
	[IDVENUE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EQUIPO_PARTICIPA_COMPETICION] ADD  CONSTRAINT [constraint_default_cero]  DEFAULT ((0)) FOR [POSICION]
GO
ALTER TABLE [dbo].[COMPETICION_DURANTE_TEMPORADA]  WITH CHECK ADD FOREIGN KEY([IDCOMPETICION])
REFERENCES [dbo].[COMPETICION] ([IDCOMPETICION])
GO
ALTER TABLE [dbo].[COMPETICION_DURANTE_TEMPORADA]  WITH CHECK ADD FOREIGN KEY([IDTEMPORADA])
REFERENCES [dbo].[TEMPORADA] ([IDTEMPORADA])
GO
ALTER TABLE [dbo].[EQUIPO]  WITH CHECK ADD  CONSTRAINT [FK__EQUIPO__IDVENUE__32E0915F] FOREIGN KEY([IDVENUE])
REFERENCES [dbo].[VENUE] ([IDVENUE])
GO
ALTER TABLE [dbo].[EQUIPO] CHECK CONSTRAINT [FK__EQUIPO__IDVENUE__32E0915F]
GO
ALTER TABLE [dbo].[EQUIPO_PARTICIPA_COMPETICION]  WITH CHECK ADD FOREIGN KEY([IDCOMPETICION])
REFERENCES [dbo].[COMPETICION] ([IDCOMPETICION])
GO
ALTER TABLE [dbo].[EQUIPO_PARTICIPA_COMPETICION]  WITH CHECK ADD FOREIGN KEY([IDEQUIPO])
REFERENCES [dbo].[EQUIPO] ([IDEQUIPO])
GO
ALTER TABLE [dbo].[EQUIPO_PARTICIPA_COMPETICION]  WITH CHECK ADD FOREIGN KEY([IDTEMPORADA])
REFERENCES [dbo].[TEMPORADA] ([IDTEMPORADA])
GO
ALTER TABLE [dbo].[EVENTO]  WITH CHECK ADD FOREIGN KEY([IDPARTIDO])
REFERENCES [dbo].[PARTIDO] ([IDPARTIDO])
GO
ALTER TABLE [dbo].[LINEUP]  WITH CHECK ADD FOREIGN KEY([IDEQUIPO])
REFERENCES [dbo].[EQUIPO] ([IDEQUIPO])
GO
ALTER TABLE [dbo].[LINEUP]  WITH CHECK ADD FOREIGN KEY([IDPARTIDO])
REFERENCES [dbo].[PARTIDO] ([IDPARTIDO])
GO
ALTER TABLE [dbo].[STATSPARTIDO]  WITH CHECK ADD  CONSTRAINT [FK__STATSPART__IDEQU__41EDCAC5] FOREIGN KEY([IDEQUIPO])
REFERENCES [dbo].[EQUIPO] ([IDEQUIPO])
GO
ALTER TABLE [dbo].[STATSPARTIDO] CHECK CONSTRAINT [FK__STATSPART__IDEQU__41EDCAC5]
GO
USE [master]
GO
