
CREATE TABLE COMPETICION(
	IDCOMPETICION int NOT NULL,
	NOMBRE nvarchar(100) NULL,
	TIPOCOMPE nvarchar(50) NULL,
	LOGO nvarchar(300) NULL,
	PAIS nvarchar(70) NULL,
PRIMARY KEY CLUSTERED 
(
	IDCOMPETICION ASC
))

GO
/****** Object:  Table COMPETICION_DURANTE_TEMPORADA    Script Date: 23/03/2023 10:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE COMPETICION_DURANTE_TEMPORADA(
	IDCOMPETICION int NOT NULL,
	IDTEMPORADA int NOT NULL,
	STARTDATE datetime NULL,
	ENDDATE datetime NULL,
PRIMARY KEY CLUSTERED 
(
	IDCOMPETICION ASC,
	IDTEMPORADA ASC
))

GO
/****** Object:  Table EQUIPO    Script Date: 23/03/2023 10:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE EQUIPO(
	IDEQUIPO int NOT NULL,
	NOMBRE nvarchar(100) NULL,
	ABREVIATURA nvarchar(5) NULL,
	LOGO nvarchar(300) NULL,
	IDVENUE int NULL,
	PAIS nvarchar(70) NULL,
PRIMARY KEY CLUSTERED 
(
	IDEQUIPO ASC
))

GO
/****** Object:  Table EQUIPO_PARTICIPA_COMPETICION    Script Date: 23/03/2023 10:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE EQUIPO_PARTICIPA_COMPETICION(
	IDCOMPETICION int NOT NULL,
	IDTEMPORADA int NOT NULL,
	IDEQUIPO int NOT NULL,
	PARTIDOSJUGADOS int NULL,
	PARTIDOSJUGADOSLOCAL int NULL,
	PARTIDOSJUGADOSVISITANTE int NULL,
	VICTORIAS int NOT NULL,
	VICTORIASLOCAL int NOT NULL,
	VICTORIASVISITANTE int NOT NULL,
	EMPATES int NOT NULL,
	EMPATESLOCAL int NOT NULL,
	EMPATESVISITANTE int NOT NULL,
	DERROTAS int NOT NULL,
	DERROTASLOCAL int NOT NULL,
	DERROTASVISITANTE int NOT NULL,
	GOLESMARCADOS int NOT NULL,
	GOLESMARCADOSLOCAL int NOT NULL,
	GOLESMARCADOSVISITANTE int NOT NULL,
	GOLESENCAJADOS int NOT NULL,
	GOLESENCAJADOSLOCAL int NOT NULL,
	GOLESENCAJADOSVISITANTE int NOT NULL,
	TARJETASAMARILLAS int NOT NULL,
	TARJETASAMARILLASLOCAL int NOT NULL,
	TARJETASAMARILLASVISITANTE int NOT NULL,
	TARJETASROJAS int NOT NULL,
	TARJETASROJASLOCAL int NOT NULL,
	TARJETASROJASVISITANTE int NOT NULL,
	PUNTOS int NOT NULL,
	GOLESFAVOR0_15 int NOT NULL,
	GOLESFAVOR16_30 int NOT NULL,
	GOLESFAVOR31_45 int NOT NULL,
	GOLESFAVOR46_60 int NOT NULL,
	GOLESFAVOR61_75 int NOT NULL,
	GOLESFAVOR76_90 int NOT NULL,
	GOLESFAVOR91_105 int NOT NULL,
	GOLESFAVOR106_120 int NOT NULL,
	GOLESCONTRA0_15 int NOT NULL,
	GOLESCONTRA16_30 int NOT NULL,
	GOLESCONTRA31_45 int NOT NULL,
	GOLESCONTRA46_60 int NOT NULL,
	GOLESCONTRA61_75 int NOT NULL,
	GOLESCONTRA76_90 int NOT NULL,
	GOLESCONTRA91_105 int NOT NULL,
	GOLESCONTRA106_120 int NOT NULL,
	NOMBRE nvarchar(100) NULL,
	TARJETASAMARILLAS0_15 int NOT NULL,
	TARJETASAMARILLAS16_30 int NOT NULL,
	TARJETASAMARILLAS31_45 int NOT NULL,
	TARJETASAMARILLAS46_60 int NOT NULL,
	TARJETASAMARILLAS61_75 int NOT NULL,
	TARJETASAMARILLAS76_90 int NOT NULL,
	TARJETASAMARILLAS91_105 int NOT NULL,
	TARJETASAMARILLAS106_120 int NOT NULL,
	TARJETASROJAS0_15 int NOT NULL,
	TARJETASROJAS16_30 int NOT NULL,
	TARJETASROJAS31_45 int NOT NULL,
	TARJETASROJAS46_60 int NOT NULL,
	TARJETASROJAS61_75 int NOT NULL,
	TARJETASROJAS76_90 int NOT NULL,
	TARJETASROJAS91_105 int NOT NULL,
	TARJETASROJAS106_120 int NOT NULL,
	POSICION int NOT NULL,
	LOGO nvarchar(300) NOT NULL,
	FORM nvarchar(5) NOT NULL,
 CONSTRAINT PK__EQUIPO_P__9215D2FAFE38CBCA PRIMARY KEY CLUSTERED 
(
	IDCOMPETICION ASC,
	IDTEMPORADA ASC,
	IDEQUIPO ASC
))

GO
/****** Object:  Table EVENTO    Script Date: 23/03/2023 10:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE EVENTO(
	IDEVENTO int NOT NULL,
	IDPARTIDO int NULL,
	ELAPSED int NULL,
	EXTRA int NULL,
	IDEQUIPO int NULL,
	NOMBREJUGADOR nvarchar(100) NOT NULL,
	NOMBREASISTENCIA nvarchar(100) NOT NULL,
	TIPO nvarchar(30) NOT NULL,
	DETALLES nvarchar(40) NOT NULL,
	COMMENTS nvarchar(40) NOT NULL,
 CONSTRAINT PK__EVENTO__74B243658A6FBBFA PRIMARY KEY CLUSTERED 
(
	IDEVENTO ASC
))

GO
/****** Object:  Table LINEUP    Script Date: 23/03/2023 10:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE LINEUP(
	IDPARTIDO int NOT NULL,
	IDEQUIPO int NOT NULL,
	ESQUEMA nvarchar(10) NULL,
PRIMARY KEY CLUSTERED 
(
	IDPARTIDO ASC,
	IDEQUIPO ASC
))

GO
/****** Object:  Table LINEUPPLAYER    Script Date: 23/03/2023 10:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE LINEUPPLAYER(
	IDPARTIDO int NOT NULL,
	IDEQUIPO int NOT NULL,
	NOMBRE varchar(50) NOT NULL,
	NUMERO int NULL,
	POSICION nvarchar(5) NULL,
	GRID nvarchar(10) NULL,
PRIMARY KEY CLUSTERED 
(
	IDPARTIDO ASC,
	IDEQUIPO ASC,
	NOMBRE ASC
))

GO
/****** Object:  Table PARTIDO    Script Date: 23/03/2023 10:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE PARTIDO(
	IDPARTIDO int NOT NULL,
	IDCOMPETICION int NOT NULL,
	IDTEMPORADA int NOT NULL,
	ARBITRO nvarchar(70) NULL,
	TIMEZONE nvarchar(20) NULL,
	STARTDATE datetime NULL,
	IDVENUE int NULL,
	IDLOCAL int NOT NULL,
	IDVISITANTE int NOT NULL,
	GOLESLOCALHF int NULL,
	GOLESVISITANTEHF int NULL,
	GOLESLOCALFT int NULL,
	GOLESVISITANTEFT int NULL,
	GOLESLOCALET int NULL,
	GOLESVISITANTEET int NULL,
	GOLESLOCALPENALTY int NULL,
	GOLESVISITANTEPENALTY int NULL,
	RONDA nvarchar(100) NULL,
	ESTADO nvarchar(100) NULL,
	ESTADOFINAL nvarchar(10) NULL,
	ELAPSED int NULL,
	NOMBRELOCAL nvarchar(100) NULL,
	NOMBREVISITANTE nvarchar(100) NULL,
	LOGOLOCAL nvarchar(300) NULL,
	LOGOVISITANTE nvarchar(300) NULL,
	PAIS nvarchar(50) NOT NULL,
	PAISIMAGEN nvarchar(300) NOT NULL,
	NOMBRECOMPETICION nvarchar(60) NOT NULL,
 CONSTRAINT PK__PARTIDO__368EE70C2AADAEFE PRIMARY KEY CLUSTERED 
(
	IDCOMPETICION ASC,
	IDTEMPORADA ASC,
	IDLOCAL ASC,
	IDVISITANTE ASC
))

GO
/****** Object:  Table STATSPARTIDO    Script Date: 23/03/2023 10:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE STATSPARTIDO(
	IDPARTIDO int NOT NULL,
	TIPO nvarchar(50) NOT NULL,
	IDEQUIPO int NOT NULL,
	VALOR nvarchar(7) NOT NULL,
 CONSTRAINT PK__STATSPAR__9E01CE3EC9A532CF PRIMARY KEY CLUSTERED 
(
	IDPARTIDO ASC,
	TIPO ASC,
	IDEQUIPO ASC
))

GO
/****** Object:  Table TEMPORADA    Script Date: 23/03/2023 10:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE TEMPORADA(
	IDTEMPORADA int NOT NULL,
	STARTDATE datetime NULL,
	ENDDATE datetime NULL,
PRIMARY KEY CLUSTERED 
(
	IDTEMPORADA ASC
))

GO
/****** Object:  Table VENUE    Script Date: 23/03/2023 10:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE VENUE(
	IDVENUE int NOT NULL,
	NOMBRE nvarchar(100) NOT NULL,
	CIUDAD nvarchar(100) NOT NULL,
	CAPACIDAD int NULL,
	PAIS nvarchar(70) NOT NULL,
 CONSTRAINT PK__VENUE__2849F372D8F455C6 PRIMARY KEY CLUSTERED 
(
	IDVENUE ASC
))

GO
INSERT COMPETICION (IDCOMPETICION, NOMBRE, TIPOCOMPE, LOGO, PAIS) VALUES (12, N'CAF Champions League', N'Cup', N'https://media-1.api-sports.io/football/leagues/12.png', N'World')
INSERT COMPETICION (IDCOMPETICION, NOMBRE, TIPOCOMPE, LOGO, PAIS) VALUES (13, N'CONMEBOL Libertadores', N'Cup', N'https://media-3.api-sports.io/football/leagues/13.png', N'World')
INSERT COMPETICION (IDCOMPETICION, NOMBRE, TIPOCOMPE, LOGO, PAIS) VALUES (16, N'CONCACAF Champions League', N'Cup', N'https://media-1.api-sports.io/football/leagues/16.png', N'World')
GO
INSERT EQUIPO (IDEQUIPO, NOMBRE, ABREVIATURA, LOGO, IDVENUE, PAIS) VALUES (77, N'Angers', N'ANG', N'https://media-3.api-sports.io/football/teams/77.png', 634, N'France')
INSERT EQUIPO (IDEQUIPO, NOMBRE, ABREVIATURA, LOGO, IDVENUE, PAIS) VALUES (79, N'Lille', N'LIL', N'https://media-2.api-sports.io/football/teams/79.png', 19207, N'France')
INSERT EQUIPO (IDEQUIPO, NOMBRE, ABREVIATURA, LOGO, IDVENUE, PAIS) VALUES (80, N'Lyon', N'LYO', N'https://media-1.api-sports.io/football/teams/80.png', 666, N'France')
GO
INSERT EVENTO (IDEVENTO, IDPARTIDO, ELAPSED, EXTRA, IDEQUIPO, NOMBREJUGADOR, NOMBREASISTENCIA, TIPO, DETALLES, COMMENTS) VALUES (1, 878194, 31, 0, 798, N'Jaume Costa', N'', N'Card', N'Yellow Card', N'Off the ball foul')
INSERT EVENTO (IDEVENTO, IDPARTIDO, ELAPSED, EXTRA, IDEQUIPO, NOMBREJUGADOR, NOMBREASISTENCIA, TIPO, DETALLES, COMMENTS) VALUES (2, 878194, 48, 0, 543, N'Borja Iglesias', N'Y. Sabaly', N'Goal', N'Normal Goal', N'')
INSERT EVENTO (IDEVENTO, IDPARTIDO, ELAPSED, EXTRA, IDEQUIPO, NOMBREJUGADOR, NOMBREASISTENCIA, TIPO, DETALLES, COMMENTS) VALUES (3, 878194, 54, 0, 798, N'Matija Nastasić', N'', N'Card', N'Yellow Card', N'Foul')
GO
INSERT LINEUP (IDPARTIDO, IDEQUIPO, ESQUEMA) VALUES (871740, 91, N'4-4-2')
INSERT LINEUP (IDPARTIDO, IDEQUIPO, ESQUEMA) VALUES (871740, 98, N'4-4-2')
INSERT LINEUP (IDPARTIDO, IDEQUIPO, ESQUEMA) VALUES (871741, 82, N'4-2-3-1')
GO
INSERT LINEUPPLAYER (IDPARTIDO, IDEQUIPO, NOMBRE, NUMERO, POSICION, GRID) VALUES (871740, 91, N'A. Disasi', 6, N'D', N'2:3')
INSERT LINEUPPLAYER (IDPARTIDO, IDEQUIPO, NOMBRE, NUMERO, POSICION, GRID) VALUES (871740, 91, N'A. Nübel', 16, N'G', N'1:1')
INSERT LINEUPPLAYER (IDPARTIDO, IDEQUIPO, NOMBRE, NUMERO, POSICION, GRID) VALUES (871740, 91, N'B. Embolo', 36, N'F', N'4:2')
GO
INSERT STATSPARTIDO (IDPARTIDO, TIPO, IDEQUIPO, VALOR) VALUES (871740, N'Ball Possession', 91, N'58%')
INSERT STATSPARTIDO (IDPARTIDO, TIPO, IDEQUIPO, VALOR) VALUES (871740, N'Ball Possession', 98, N'42%')
INSERT STATSPARTIDO (IDPARTIDO, TIPO, IDEQUIPO, VALOR) VALUES (871740, N'Blocked Shots', 91, N'2')
GO
INSERT TEMPORADA (IDTEMPORADA, STARTDATE, ENDDATE) VALUES (2022, NULL, NULL)
GO
INSERT VENUE (IDVENUE, NOMBRE, CIUDAD, CAPACIDAD, PAIS) VALUES (632, N'Stade François Coty', N'Ajaccio', 10660, N'France')
INSERT VENUE (IDVENUE, NOMBRE, CIUDAD, CAPACIDAD, PAIS) VALUES (634, N'Stade Raymond-Kopa', N'Angers', 17835, N'France')
INSERT VENUE (IDVENUE, NOMBRE, CIUDAD, CAPACIDAD, PAIS) VALUES (636, N'Stade de l''Abbé Deschamps', N'Auxerre', 23467, N'France')
GO
/****** Object:  Index partidounico    Script Date: 23/03/2023 10:32:30 ******/
ALTER TABLE PARTIDO ADD  CONSTRAINT partidounico UNIQUE NONCLUSTERED 
(
	IDPARTIDO ASC
)
GO
/****** Object:  Index UQ__PARTIDO__E2D0342B7E635246    Script Date: 23/03/2023 10:32:30 ******/
ALTER TABLE PARTIDO ADD  CONSTRAINT UQ__PARTIDO__E2D0342B7E635246 UNIQUE NONCLUSTERED 
(
	IDPARTIDO ASC
)
GO
ALTER TABLE EQUIPO_PARTICIPA_COMPETICION ADD  CONSTRAINT constraint_default_cero  DEFAULT ((0)) FOR POSICION
GO
ALTER TABLE COMPETICION_DURANTE_TEMPORADA  WITH CHECK ADD FOREIGN KEY(IDCOMPETICION)
REFERENCES COMPETICION (IDCOMPETICION)
GO
ALTER TABLE COMPETICION_DURANTE_TEMPORADA  WITH CHECK ADD FOREIGN KEY(IDTEMPORADA)
REFERENCES TEMPORADA (IDTEMPORADA)
GO
ALTER TABLE EQUIPO  WITH CHECK ADD  CONSTRAINT FK__EQUIPO__IDVENUE__32E0915F FOREIGN KEY(IDVENUE)
REFERENCES VENUE (IDVENUE)
GO
ALTER TABLE EQUIPO CHECK CONSTRAINT FK__EQUIPO__IDVENUE__32E0915F
GO
ALTER TABLE EQUIPO_PARTICIPA_COMPETICION  WITH CHECK ADD  CONSTRAINT FK__EQUIPO_PA__IDCOM__403A8C7D FOREIGN KEY(IDCOMPETICION)
REFERENCES COMPETICION (IDCOMPETICION)
GO
ALTER TABLE EQUIPO_PARTICIPA_COMPETICION CHECK CONSTRAINT FK__EQUIPO_PA__IDCOM__403A8C7D
GO
ALTER TABLE EQUIPO_PARTICIPA_COMPETICION  WITH CHECK ADD  CONSTRAINT FK__EQUIPO_PA__IDEQU__4222D4EF FOREIGN KEY(IDEQUIPO)
REFERENCES EQUIPO (IDEQUIPO)
GO
ALTER TABLE EQUIPO_PARTICIPA_COMPETICION CHECK CONSTRAINT FK__EQUIPO_PA__IDEQU__4222D4EF
GO
ALTER TABLE EQUIPO_PARTICIPA_COMPETICION  WITH CHECK ADD  CONSTRAINT FK__EQUIPO_PA__IDTEM__412EB0B6 FOREIGN KEY(IDTEMPORADA)
REFERENCES TEMPORADA (IDTEMPORADA)
GO
ALTER TABLE EQUIPO_PARTICIPA_COMPETICION CHECK CONSTRAINT FK__EQUIPO_PA__IDTEM__412EB0B6
GO
ALTER TABLE EVENTO  WITH CHECK ADD FOREIGN KEY(IDPARTIDO)
REFERENCES PARTIDO (IDPARTIDO)
GO
ALTER TABLE LINEUP  WITH CHECK ADD FOREIGN KEY(IDEQUIPO)
REFERENCES EQUIPO (IDEQUIPO)
GO
ALTER TABLE LINEUP  WITH CHECK ADD FOREIGN KEY(IDPARTIDO)
REFERENCES PARTIDO (IDPARTIDO)
GO
ALTER TABLE STATSPARTIDO  WITH CHECK ADD  CONSTRAINT FK__STATSPART__IDEQU__41EDCAC5 FOREIGN KEY(IDEQUIPO)
REFERENCES EQUIPO (IDEQUIPO)
GO
ALTER TABLE STATSPARTIDO CHECK CONSTRAINT FK__STATSPART__IDEQU__41EDCAC5
GO
/****** Object:  StoredProcedure SP_PROCEDURE_PARTIDOS_COMP    Script Date: 23/03/2023 10:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE SP_PROCEDURE_PARTIDOS_COMP(@IDCOMPETICION INT,@TEMPORADA INT, @POSICION INT,@CANTIDAD INT, @NUMREGISTROS INT OUT)
AS
SELECT @NUMREGISTROS = COUNT(IDPARTIDO) FROM PARTIDO WHERE IDCOMPETICION=@IDCOMPETICION AND IDTEMPORADA=@TEMPORADA
SELECT IDPARTIDO,IDCOMPETICION,IDTEMPORADA,ARBITRO,TIMEZONE,STARTDATE,IDVENUE,IDLOCAL,IDVISITANTE,GOLESLOCALHF,GOLESVISITANTEHF,GOLESLOCALFT,GOLESVISITANTEFT,GOLESLOCALET,GOLESVISITANTEET,GOLESLOCALPENALTY,GOLESVISITANTEPENALTY,RONDA,ESTADO,ESTADOFINAL,ELAPSED,NOMBRELOCAL,NOMBREVISITANTE,LOGOLOCAL,LOGOVISITANTE,PAIS,PAISIMAGEN,NOMBRECOMPETICION FROM(
SELECT CAST(ROW_NUMBER()OVER(ORDER BY IDPARTIDO)AS INT) AS POSICION,
IDPARTIDO,IDCOMPETICION,IDTEMPORADA,ARBITRO,TIMEZONE,STARTDATE,IDVENUE,IDLOCAL,IDVISITANTE,GOLESLOCALHF,GOLESVISITANTEHF,GOLESLOCALFT,GOLESVISITANTEFT,GOLESLOCALET,GOLESVISITANTEET,GOLESLOCALPENALTY,GOLESVISITANTEPENALTY,RONDA,ESTADO,ESTADOFINAL,ELAPSED,NOMBRELOCAL,NOMBREVISITANTE,LOGOLOCAL,LOGOVISITANTE,PAIS,PAISIMAGEN,NOMBRECOMPETICION
FROM PARTIDO WHERE IDCOMPETICION=@IDCOMPETICION AND IDTEMPORADA=@TEMPORADA ) AS QUERY 
WHERE QUERY.POSICION >=@POSICION AND QUERY.POSICION <(@POSICION+@CANTIDAD) ORDER BY  QUERY.STARTDATE DESC
GO

